In [42]:
import json
import pandas as pd
import numpy as np

In [80]:
def rename_summary_column(df):
    new_name = df['summary_type'][0]
    df = df.rename(columns={'summary': new_name + "_summary"})
    df.drop("summary_type", axis=1, inplace=True)
    return df

In [6]:
character_path = "getBookList/char_descriptions_stripped.json"
characters = pd.read_json(character_path)

In [82]:
masterplots_fourth_path = "getBookList/summary_masterplots_fourth_edition_stripped.json"
masterplots_fourth = pd.read_json(masterplots_fourth_path)
masterplots_fourth = rename_summary_column(masterplots_fourth)

In [83]:
masterplots_ii_path = "getBookList/summary_masterplots_ii_stripped.json"
masterplots_ii = pd.read_json(masterplots_ii_path)
masterplots_ii = rename_summary_column(masterplots_ii)

In [84]:
masterplots_fourth[masterplots_fourth['title'] == "Romeo and Juliet"]

,author,masterplots_fourth_edition_summary,title
1021,William Shakespeare,"In Verona, Italy, there live two famous fami...",Romeo and Juliet

In [85]:
characters[characters['title'] == "Romeo and Juliet"]

,author,characters,title
279,William Shakespeare,"[{u'name': u'Romeo ', u'description': u'Romeo ...",Romeo and Juliet

In [127]:
def mergeSummaries(characters, summaries):
    """
    Merges on summaries using a left join to keep all entries from characters
    """
    temp = characters.merge(summaries, on=['title', 'author'], how='left')
    temp = temp.drop_duplicates(subset=['title', 'author'])
    return temp

In [142]:
merge_1 = mergeSummaries(characters, masterplots_ii)
df = mergeSummaries(merge_1, masterplots_fourth)
null_ind = df['masterplots_ii_summary'].isnull() & df['masterplots_fourth_edition_summary'].isnull()
df = df[~null_ind]

In [143]:
print "Number of entries: {}".format(df.shape[0])

Number of entries: 2752

In [144]:
df.head()

,author,characters,title,masterplots_ii_summary,masterplots_fourth_edition_summary
0,John Updike,"[{u'name': u'Harry 'Rabbit' Angstrom ', u'desc...",The Rabbit Angstrom Novels,"With his sixth novel, Rabbit Redux , published...","Rabbit, Run. Harry Angstrom, nicknamed Rabbit..."
1,Gabriel Garcia Marquez,"[{u'name': u'Melquiades ', u'description': u'M...",One Hundred Years of Solitude,NaN,"Standing before a firing squad, Colonel Aure..."
3,William Makepeace Thackeray,"[{u'name': u'Colonel Thomas Newcome ', u'descr...",The Newcomes,NaN,The elder Thomas Newcome marries his childho...
4,J. R. R. Tolkien,"[{u'name': u'Frodo Baggins ', u'description': ...",The Lord of the Rings,J. R. R. Tolkien's modern fantasy classic The ...,NaN
6,Charles Dickens,"[{u'name': u'David Copperfield ', u'descriptio...",David Copperfield,When it was published in installments during t...,"David Copperfield is born at Blunderstone, i..."